<div class="colorlib-narrow-content">
   <div class="row">
      <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
         <!--	<span class="heading-meta">My Specialty</span> -->
         <h1>Connect <span style="color: #C3073F">with me</span></h1>
         <hr>
      </div>
   </div>
   <div class="row">
      <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
         <div class="progress-wrap">
            <strong>
               <a href="https://www.github.com/mZarifa?tab=repositories">
               <p style="color:firebrick"> <i class="fab fa-fw fa-github"></i> Github</p>
               </a>
            </strong>
         </div>
      </div>
      <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
         <div class="progress-wrap">
            <strong>
               <a href="https://www.twitter.com/MatthewZarifa">
                  <p style="color:dodgerblue"> <i class="fab fa-fw fa-twitter"> </i> Twitter</p>
               </a>
            </strong>
         </div>
      </div>
      <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
         <div class="progress-wrap">
            <strong>
               <a href="https://www.linkedin.com/in/matthew-zarifa-25994a129/">
                  <p style="color:dodgerblue"> <i class="fab fa-fw fa-linkedin"></i> Linkedin</p>
               </a>
            </strong>
         </div>
      </div>
      <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
         <div class="progress-wrap">
            <strong>
               <a href="mailto: matthewzarifa@gmail.com">
                  <p style="color:dodgerblue"><i class="fas fa-envelope"></i> Email: matthewzarifa@gmail.com</p>
               </a>
            </strong>
         </div>