<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
   <%- include('../partials/header.ejs'); -%>
</head>

<body>
   <canvas id="canvas"></canvas>
   <div id="colorlib-page">
      <div class="container-wrap">
         <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar"><i></i></a>
         <aside id="colorlib-aside" role="complementary" class="border js-fullheight">
            <%- include('../partials/sidebar'); -%>
         </aside>
         </style>
         <!----- main page--------->
         <div id="colorlib-main">
            <section class="colorlib-about" data-section="about">
               <div class="colorlib-narrow-content">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
                           <div class="col-md-12">
                              <div class="about-desc">
                                 <h1><strong>Matthew <span style="color: #C3073F">Zarifa</span></strong></h1>
                                 <hr>
                                 <p>Hello! Welcome to my webpage!</p>
                                 <p>I'm a student currently attending the University of Colorado Boulder, majoring in
                                    Computer Science!</p>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div id="navbar" class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                              <a href="#" data-nav-section="contact">
                                 <div class="services color-5">
                                    <span class="icon2"><i class="fa fa-desktop"></i></span>
                                    <h3>Contact<br>me!</h3>
                                 </div>
                              </a>
                           </div>
                           <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                              <a href="/action_1" target="_blank">
                                 <div class="services color-2">
                                    <span class="icon2"><i class="fa fa-code"></i></span>
                                    <h3>My<br> projects</h3>
                                 </div>
                              </a>
                           </div>
                           <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                              <a href="softwareDev.html" target="_blank">
                                 <div class="services color-3">
                                    <span class="icon2"><i class="fa fa-terminal"></i></span>
                                    <h3>Software Development</h3>
                                 </div>
                              </a>
                           </div>
                           <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                              <a href="androidDev.html" target="_blank">
                                 <div class="services color-4">
                                    <span class="icon2"><i class="fa fa-android"></i></span>
                                    <h3>Presentations and more</h3>
                                 </div>
                              </a>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">

                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <!------Skills---------------->
            <section class="colorlib-skills" data-section="skills">
               <div class="colorlib-narrow-content">
                  <div class="row">
                     <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                        <!--	<span class="heading-meta">My Specialty</span> -->
                        <div class="about-desc">
                           <h1>Skills</h1>
                        </div>
                     </div>
                  </div>
                  <p>Here are some of my skills!</p>
                  <div class="row">
                     <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                        <div class="progress-wrap">
                           <h3 style="font-weight: 500;">C++</h3>
                           <div class="progress">
                              <div class="progress-bar color-1" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                 aria-valuemax="100" style="width:70%">
                                 <span>70%</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                        <div class="progress-wrap">
                           <h3 style="font-weight: 500;">Angular/NodeJS</h3>
                           <div class="progress">
                              <div class="progress-bar color-6" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                 aria-valuemax="100" style="width:40%">
                                 <span>40%</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                        <div class="progress-wrap">
                           <h3 style="font-weight: 500;">Python</h3>
                           <div class="progress">
                              <div class="progress-bar color-2" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                                 aria-valuemax="100" style="width:30%">
                                 <span>30%</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                        <div class="progress-wrap">
                           <h3 style="font-weight: 500;">Bootstrap/HTML/JavaScript</h3>
                           <div class="progress">
                              <div class="progress-bar color-4" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                 aria-valuemax="100" style="width:70%">
                                 <span>70%</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                        <div class="progress-wrap">
                           <h3 style="font-weight: 500;">Word/Excel/Photoshop</h3>
                           <div class="progress">
                              <div class="progress-bar color-6" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                 aria-valuemax="100" style="width:50%">
                                 <span>50%</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                        <div class="progress-wrap">
                           <h3 style="font-weight: 500;">Writing and Presentations</h3>
                           <div class="progress">
                              <div class="progress-bar color-3" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                 aria-valuemax="100" style="width:95%">
                                 <span>95%</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <!--------------Work Experience----------->
            <section class="colorlib-experience" data-section="experience">
               <div class="colorlib-narrow-content">
                  <div class="row">
                     <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                        <div class="about-desc">
                           <h1>Work <span style="color: #C3073F">Experience</span></h1>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <div class="timeline-centered">
                           <!---Entry 1-->
                           <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                              <div class="timeline-entry-inner">
                                 <div class="timeline-icon color-1">
                                    <i class="fa fa-code"></i>
                                 </div>
                                 <div class="timeline-label">
                                    <h2><a href="#">Google</a> <span>Jul 2018 – Sep 2018</span></h2>
                                    <p><strong>Student Intern</strong><br>Unofficial internship at Google during high
                                       school.
                                       Contributed to an open source project called xPSDesiredStateConfiguration.
                                       Attended daily in person meetings with the team at Google to discuss
                                       contributions,
                                       roadblocks, and more.
                                    </p>
                                    <p></p>
                                 </div>
                              </div>
                           </article>
                           <!---Entry 2-->
                           <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                              <div class="timeline-entry-inner">
                                 <div class="timeline-icon color-1">
                                    <i class="fa fa-code"></i>
                                 </div>
                                 <div class="timeline-label">
                                    <h2><a href="#">ThinkPedia LLP</a> <span>May 2019 - June 2019</span></h2>
                                    <p><strong>Software Developement Engineering Intern</strong><br>Developed
                                       Customer Web Application for social media management from scratch.</p>
                                    <p></p>
                                 </div>
                              </div>
                           </article>
                           <!---Entry 3-->
                           <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                              <div class="timeline-entry-inner">
                                 <div class="timeline-icon color-1">
                                    <i class="fa fa-code"></i>
                                 </div>
                                 <div class="timeline-label">
                                    <h2><a href="#">ThinkPedia LLP</a> <span>May 2019 - June 2019</span></h2>
                                    <p><strong>Software Developement Engineering Intern</strong><br>Developed
                                       Customer Web Application for social media management from scratch.</p>
                                    <p></p>
                                 </div>
                              </div>
                           </article>

                           <article class="timeline-entry begin animate-box" data-animate-effect="fadeInBottom">
                              <div class="timeline-entry-inner">
                                 <div class="timeline-icon color-2">
                                 </div>
                              </div>
                           </article>
                        </div>
                     </div>
                  </div>
               </div>
            </section>

            <!--------------Education----------->
            <section class="colorlib-experience" data-section="experience">
               <div class="colorlib-narrow-content">
                  <div class="row">
                     <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                        <div class="about-desc">
                           <h1>Education</h1>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <div class="timeline-centered">
                           <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                              <div class="timeline-entry-inner">
                                 <div class="timeline-icon color-1">
                                    <i class="fa fa-code"></i>
                                 </div>
                                 <div class="timeline-label">
                                    <h2>Bachelors in Computer Science and Engineering</h2>
                                    <p><strong>National Institute of Technology, Warangal</strong><br>Courses
                                       undertaken Data Strucutures and Algorithms, Operating Systems, Database
                                       Management Systems, Networks, Distributed Computing, Object Oriented
                                       Programming, Computer Architecture.</p>
                                    <p></p>
                                 </div>
                              </div>
                           </article>

                           <article class="timeline-entry animate-box" data-animate-effect="fadeInRight">
                              <div class="timeline-entry-inner">
                                 <div class="timeline-icon color-5">
                                    <i class="fa fa-user"></i>
                                 </div>
                                 <div class="timeline-label">
                                    <h2>Intermediate</h2>
                                    <p><strong>Board of Secondary Education, Rajasthan</strong><br>Courses undertaken
                                       Physics, Chemistry and Mathematics.</p>
                                 </div>
                              </div>
                           </article>

                           <article class="timeline-entry begin animate-box" data-animate-effect="fadeInBottom">
                              <div class="timeline-entry-inner">
                                 <div class="timeline-icon color-2">
                                 </div>
                              </div>
                           </article>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <!--------Contact---------->
            <section class="colorlib-contact" data-section="contact">
               <%- include('../pages/contact_stuff.ejs'); -%>
         </div>
      </div>
   </div>
   </section>
   <!------------Footer------------->
   <section class="colorlib-footer" data-section="footer">
      <div class="colorlib-narrow-content">
         <div class="row">
            <div class="col-md-12">
               <div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
                  <div class="hire">
                     <p style="text-align: center; color: black;"><strong>If you like my work and efforts, please
                           consider
                           buying me a coffee.<br>Thank you for your support!</strong></p>
                     <div align=center>
                        <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
                        <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/r194dME8y"><img
                              src="https://bmc-cdn.nyc3.digitaloceanspaces.com/BMC-button-images/BMC-btn-logo.svg"
                              alt="Buy me a coffee"><span style="margin-left:5px">Buy me a
                              coffee</span></a>&nbsp;&nbsp;&nbsp;
                        <a class="bmc-button"
                           onclick="window.open(`https://twitter.com/intent/tweet?text=Thank%20you%20@Vinay_Somawat%20for%20creating%20this%20portfolio%20web-page%2e%0A%0ACreate%20your%20own%20a%20portfolio%20%0A%0Ahttps%3A%2F%2Fvinaysomawat.github.io%2F`, 'share-twitter', 'width=550, height=235'); return false;"><img
                              src="https://cdn3.iconfinder.com/data/icons/basicolor-reading-writing/24/077_twitter-512.png"
                              alt="twitter"><span style="margin-left:5px">Tweet a thanks</span></a>
                        <br><br>
                        <p style="font-size: 30px; margin-bottom: 0px;"><a href="https://twitter.com/Vinay_Somawat"
                              style="color: black;" class="fa fa-twitter"></a> &nbsp;&nbsp;&nbsp;&nbsp;
                           <a href="https://www.linkedin.com/in/vinasomawat/" style="color: black;"
                              class="fa fa-linkedin"></a> &nbsp;&nbsp;&nbsp;&nbsp;
                           <a href="https://www.quora.com/profile/Vinay-Somawat" style="color: black;"
                              class="fa fa-quora"></a> &nbsp;&nbsp;&nbsp;&nbsp;
                           <a href="https://github.com/vinaysomawat" style="color: black;" class="fa fa-github"></a>
                        </p>
                     </div>
                     <p style="text-align: center; margin-bottom: -20px;"><strong>&copy; No Copyrights, feel
                           free to use this template.</strong></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   </div>
   <!-- end:colorlib-main -->
   </div>
   <!-- end:container-wrap -->
   </div>
   <!-- end:colorlib-page -->
   <!-- jQuery -->
   <script src="../../js/jquery.min.js"></script>
   <!-- jQuery Easing -->
   <script src="../../js/jquery.easing.1.3.js"></script>
   <!-- Bootstrap -->
   <script src="../../js/bootstrap.min.js"></script>
   <!-- Waypoints -->
   <script src="../../js/jquery.waypoints.min.js"></script>
   <!-- Flexslider -->
   <script src="../../js/jquery.flexslider-min.js"></script>
   <!-- Counters -->
   <script src="../../js/jquery.countTo.js"></script>
   <!-- MAIN JS -->
   <script src="../../js/main.js"></script>
   <!--canvas js--->
   <script src="../../js/canvas.js"></script>
</body>

</html>