<!DOCTYPE HTML>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Matthew Zarifa - My Portfolio</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Portfolio webpage of Vinay Somawat" />
      <meta name="keywords" content="portfolio,website,personal website,github,projects,computer science and engineering" />
      <meta name="author" content="Matthew Zarifa" />
      <!--Social Media icons--> 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <link rel="icon" type="image/png" href="logo.png">
      <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway&display=swap" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
      <!-- Animate.css -->
      <link rel="stylesheet" href="css/animate.css">
      <!-- Bootstrap  -->
      <link rel="stylesheet" href="css/bootstrap.css">
      <!-- Flexslider  -->
      <link rel="stylesheet" href="css/flexslider.css">
      <!-- Flaticons  -->
      <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
      <!-- Theme style  -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Modernizr JS -->
      <script src="js/modernizr-2.6.2.min.js"></script>
       
       <!-----Google adsense code---->
       <script data-ad-client="ca-pub-2147632065762164" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
   </head>
            <!----- main page--------->
        <div id="colorlib-main">
          <section class="colorlib-about" data-section="about">
            <div class="colorlib-narrow-content">
              <div class="row">
                <div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
                  <div class="col-md-12">
                    <div class="about-desc">
                      <h2>Web Development</h2>
                      <hr>
                        <p>Websites and Web Apps are the first line of communication between enterprices and potential guests or visitors.</p>
                        <p>Web development services help your company to increase product knowledge, maintain communication between you and potential clients, sell your products or services, generate leads for the business, and increase the popularity of your company and much more.</p>
                      <div class="col-md-12">
                        <article class="timeline-entry animate-box" data-animate-effect="fadeInRight">
                          <br>
                          <ul class="fa-ul mb-0">
                              <li>
                              <i class="fa-li fa fa-check"></i>
                              <div
                                onmouseover="document.querySelector('#colorlib-main > section.colorlib-skills > div > div > div:nth-child(3) > article > ul > li:nth-child(1) > div > a > div:nth-child(1)').style.backgroundColor='#78C2AD'"
                                onmouseout="document.querySelector('#colorlib-main > section.colorlib-skills > div > div > div:nth-child(3) > article > ul > li:nth-child(1) > div > a > div:nth-child(1)').style.backgroundColor=''">
                                <a href="https://github.com/vinaysomawat/Travographer-Portal" style="text-decoration:none;">
                                  <div>
                                    <h4 class="mb-3">Travographer-portal</h4>
                                  </div>
                                  <div
                                    class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
                                    <div id="divMain">
                                      <div id='left-div' class="resume-content">
                                        <img style='float:left; margin:0 20px;' width='300px;' class='img-fluid'
                                          src='images/tg-portal.png'>
                                      </div>
                                      <div id='right-div' class='resume-content'>
                                        <div class="subheading mb-0">
                                          <p>It is an implementation to Setup Amazon S3 in a Django Project, how to use S3 to handle user uploaded files.</p>
                                        </div>
                                        <div class="mb-0">
                                          <span class='badge badge-secondary'>Django</span>
                                          <span class='badge badge-secondary'>AWS</span>
                                          <span class='badge badge-secondary'>Bootstrap</span>
                                          <span class='badge badge-primary'>JavaScript</span>
                                          <span class='badge badge-secondary'>Heroku</span>
                                            <br><br>
                                        <iframe src="https://ghbtns.com/github-btn.html?user=vinaysomawat&repo=Travographer-Portal&type=watch&count=true&size=small&v=2" frameborder="0" scrolling="0" width="100px" height="30px"></iframe>
                                        <iframe src="https://ghbtns.com/github-btn.html?user=vinaysomawat&repo=Travographer-Portal&type=star&count=true&size=small" frameborder="0" scrolling="0" width="100px" height="30px"></iframe>
                                        <iframe src="https://ghbtns.com/github-btn.html?user=vinaysomawat&repo=Travographer-Portal&type=fork&count=true&size=small" frameborder="0" scrolling="0" width="100px" height="30px"></iframe>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </a>
                              </div>
                            </li>
                            <br>
                            <!-- <article class="timeline-entry animate-box" data-animate-effect="fadeInRight"> -->
                            <li>
                              <i class="fa-li fa fa-check"></i>
                              <div
                                onmouseover="document.querySelector('#colorlib-main > section.colorlib-skills > div > div > div:nth-child(3) > article > ul > li:nth-child(1) > div > a > div:nth-child(1)').style.backgroundColor='#78C2AD'"
                                onmouseout="document.querySelector('#colorlib-main > section.colorlib-skills > div > div > div:nth-child(3) > article > ul > li:nth-child(1) > div > a > div:nth-child(1)').style.backgroundColor=''">
                                <a href="https://programmingdiaries.herokuapp.com/" style="text-decoration:none;">
                                  <div>
                                    <h4 class="mb-3">Programming diaries</h4>
                                  </div>
                                  <div
                                    class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
                                    <div id="divMain">
                                      <div id='left-div' class="resume-content">
                                        <img style='float:left; margin:0 20px;' width='300px;' class='img-fluid'
                                          src='images/programmingdiaries.png'>
                                      </div>
                                      <div id='right-div' class='resume-content'>
                                        <div class="subheading mb-0">
                                          <p>Developed an blog application to provide content on Programming, web and android development to all the programmers and budding programmers across the internet.</p>
                                        </div>
                                        <div class="mb-0">
                                          <span class='badge badge-secondary'>Django</span>
                                          <span class='badge badge-secondary'>SQLite3</span>
                                          <span class='badge badge-secondary'>Bootstrap</span>
                                          <span class='badge badge-primary'>HTML5</span>
                                          <span class='badge badge-primary'>CSS3</span>
                                          <span class='badge badge-primary'>JavaScript</span>
                                          <span class='badge badge-secondary'>Heroku</span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </a>
                              </div>
                            </li>
                            <br>
                            <!-- </article>
                              <article class="timeline-entry animate-box" data-animate-effect="fadeInRight"> -->
                            <li>
                              <i class="fa-li fa fa-check"></i>
                              <div
                                onmouseover="document.querySelector('#colorlib-main > section.colorlib-skills > div > div > div:nth-child(3) > article > ul > li:nth-child(3) > div > a > div:nth-child(1)').style.backgroundColor='#78C2AD'"
                                onmouseout="document.querySelector('#colorlib-main > section.colorlib-skills > div > div > div:nth-child(3) > article > ul > li:nth-child(3) > div > a > div:nth-child(1)').style.backgroundColor=''">
                                <a href="https://github.com/vinaysomawat/DeveloperAtYourDoor" style="text-decoration:none;">
                                  <div>
                                    <h4 class="mb-3">DeveloperAtYourDoor</h4>
                                  </div>
                                  <div
                                    class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
                                    <div id="divMain">
                                      <div id='left-div' class="resume-content">
                                        <img style='float:left; margin:0 20px;' width='300px;' class='img-fluid'
                                          src='images/developeratyourdoor.png'>
                                      </div>
                                      <div id='right-div' class='resume-content'>
                                        <div class="subheading mb-0">
                                          <p>Angular and spring based tool which shows a filtered list of developer profiles using back end APIs.</p>
                                        </div>
                                        <div class="mb-0">
                                          <span class='badge badge-secondary'>Spring</span>
                                          <span class='badge badge-secondary'>Angular 7</span>
                                          <span class='badge badge-secondary'>Bootstrap</span>
                                          <span class='badge badge-primary'>MongoDB</span>
                                          <span class='badge badge-secondary'>HTML5</span>
                                          <span class='badge badge-secondary'>CSS3</span>
                                          <span class='badge badge-secondary'>JavaScript</span>
                                          <span class='badge badge-primary'>Heroku</span>
                                        </div>
                                        <br>
                                        <iframe src="https://ghbtns.com/github-btn.html?user=vinaysomawat&repo=DeveloperAtYourDoor&type=watch&count=true&size=small&v=2" frameborder="0" scrolling="0" width="100px" height="30px"></iframe>
                                        <iframe src="https://ghbtns.com/github-btn.html?user=vinaysomawat&repo=DeveloperAtYourDoor&type=star&count=true&size=small" frameborder="0" scrolling="0" width="100px" height="30px"></iframe>
                                        <iframe src="https://ghbtns.com/github-btn.html?user=vinaysomawat&repo=DeveloperAtYourDoor&type=fork&count=true&size=small" frameborder="0" scrolling="0" width="100px" height="30px"></iframe>
                                      </div>
                                    </div>
                                  </div>
                                </a>
                              </div>
                            </li>
                            <br>
                            <!-- </article>
                              <article class="timeline-entry animate-box" data-animate-effect="fadeInRight"> -->
                            <li>
                              <i class="fa-li fa fa-check"></i>
                              <div
                                onmouseover="document.querySelector('#colorlib-main > section.colorlib-skills > div > div > div:nth-child(3) > article > ul > li:nth-child(5) > div > a > div:nth-child(1)').style.backgroundColor='#78C2AD'"
                                onmouseout="document.querySelector('#colorlib-main > section.colorlib-skills > div > div > div:nth-child(3) > article > ul > li:nth-child(5) > div > a > div:nth-child(1)').style.backgroundColor=''">
                                <a href="https://vinaysomawat.github.io" style="text-decoration:none;">
                                  <div>
                                    <h4 class="mb-3">Web-Portfolio</h4>
                                  </div>
                                  <div
                                    class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
                                    <div id="divMain" width="80%;">
                                      <div id='left-div' class="resume-content">
                                        <img style='float:left; margin:0 20px;' width='300px;' height='150px;' class='img-fluid'
                                          src='images/portfolio.png'>
                                      </div>
                                      <div id='right-div' class='resume-content'>
                                        <div class="subheading mb-0">
                                          <p>Web Portfolio to showcase acadmics, skills, projects and contact details in better manner.</p>
                                        </div>
                                        <div class="mb-0">
                                          <span class='badge badge-primary'>Bootstrap</span>
                                          <span class='badge badge-secondary'>HTML5</span>
                                          <span class='badge badge-secondary'>CSS3</span>
                                          <span class='badge badge-secondary'>JavaScript</span>
                                          <span class='badge badge-secondary'>Jquery</span>
                                        </div>
                                        <br>
                                        <iframe src="https://ghbtns.com/github-btn.html?user=vinaysomawat&repo=vinaysomawat.github.io&type=watch&count=true&size=small&v=2" frameborder="0" scrolling="0" width="100px" height="30px"></iframe>
                                        <iframe src="https://ghbtns.com/github-btn.html?user=vinaysomawat&repo=vinaysomawat.github.io&type=star&count=true&size=small" frameborder="0" scrolling="0" width="100px" height="30px"></iframe>
                                        <iframe src="https://ghbtns.com/github-btn.html?user=vinaysomawat&repo=vinaysomawat.github.io&type=fork&count=true&size=small" frameborder="0" scrolling="0" width="100px" height="30px"></iframe>
                                      </div>
                                    </div>
                                  </div>
                                </a>
                              </div>
                            </li>
                            <br>
                            <li>
                              <i class="fa-li fa fa-check"></i>
                              <div
                                onmouseover="document.querySelector('#colorlib-main > section.colorlib-skills > div > div > div:nth-child(3) > article > ul > li:nth-child(5) > div > a > div:nth-child(1)').style.backgroundColor='#78C2AD'"
                                onmouseout="document.querySelector('#colorlib-main > section.colorlib-skills > div > div > div:nth-child(3) > article > ul > li:nth-child(5) > div > a > div:nth-child(1)').style.backgroundColor=''">
                                <a href="https://vinaysomawat.github.io/Resume-Builder" style="text-decoration:none;">
                                  <div>
                                    <h4 class="mb-3">Resume Builder</h4>
                                  </div>
                                  <div
                                    class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
                                    <div id="divMain" width="80%;">
                                      <div id='left-div' class="resume-content">
                                        <img style='float:left; margin:0 20px;' width='300px;' height='150px;' class='img-fluid'
                                          src='images/resume-builder.png'>
                                      </div>
                                      <div id='right-div' class='resume-content'>
                                        <div class="subheading mb-0">
                                          <p>Web based editor to build Resumes in a customizable templates.</p>
                                        </div>
                                        <div class="mb-0">
                                          <span class='badge badge-primary'>Bootstrap</span>
                                          <span class='badge badge-secondary'>HTML5</span>
                                          <span class='badge badge-secondary'>CSS3</span>
                                          <span class='badge badge-secondary'>JavaScript</span>
                                          <span class='badge badge-secondary'>Jquery</span>
                                        </div>
                                        <br>
                                        <iframe src="https://ghbtns.com/github-btn.html?user=vinaysomawat&repo=Resume-Builder&type=watch&count=true&size=small&v=2" frameborder="0" scrolling="0" width="100px" height="30px"></iframe>
                                        <iframe src="https://ghbtns.com/github-btn.html?user=vinaysomawat&repo=Resume-Builder&type=star&count=true&size=small" frameborder="0" scrolling="0" width="100px" height="30px"></iframe>
                                        <iframe src="https://ghbtns.com/github-btn.html?user=vinaysomawat&repo=Resume-Builder&type=fork&count=true&size=small" frameborder="0" scrolling="0" width="100px" height="30px"></iframe>
                                      </div>
                                    </div>
                                  </div>
                                </a>
                              </div>
                            </li>
                            <br><br>
                            <li>
                              <i class="fa-li fa fa-check"></i>
                              <div
                                onmouseover="document.querySelector('#colorlib-main > section.colorlib-skills > div > div > div:nth-child(3) > article > ul > li:nth-child(5) > div > a > div:nth-child(1)').style.backgroundColor='#78C2AD'"
                                onmouseout="document.querySelector('#colorlib-main > section.colorlib-skills > div > div > div:nth-child(3) > article > ul > li:nth-child(5) > div > a > div:nth-child(1)').style.backgroundColor=''">
                                <a href="http://somawatvinay.pythonanywhere.com/" style="text-decoration:none;">
                                  <div>
                                    <h4 class="mb-3">Django File Handle</h4>
                                  </div>
                                  <div
                                    class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
                                    <div id="divMain" width="80%;">
                                      <div id='left-div' class="resume-content">
                                        <img style='float:left; margin:0 20px;' width='300px;' height='150px;' class='img-fluid'
                                          src='images/djangofilehandle.png'>
                                      </div>
                                      <div id='right-div' class='resume-content'>
                                        <div class="subheading mb-0">
                                          <p>Users can upload any img/pdf file and can view it with its cover picture with delete functionality.</p>
                                        </div>
                                        <div class="mb-0">
                                          <span class='badge badge-primary'>Django</span>
                                          <span class='badge badge-secondary'>Python</span>
                                          <span class='badge badge-secondary'>MySQL</span>
                                          <span class='badge badge-secondary'>HTML5</span>
                                          <span class='badge badge-secondary'>CSS3</span>
                                          <span class='badge badge-secondary'>JavaScript</span>
                                        </div>
                                        <br>
                                        <iframe src="https://ghbtns.com/github-btn.html?user=vinaysomawat&repo=Django-file-handle&type=watch&count=true&size=small&v=2" frameborder="0" scrolling="0" width="100px" height="30px"></iframe>
                                        <iframe src="https://ghbtns.com/github-btn.html?user=vinaysomawat&repo=Django-file-handle&type=star&count=true&size=small" frameborder="0" scrolling="0" width="100px" height="30px"></iframe>
                                        <iframe src="https://ghbtns.com/github-btn.html?user=vinaysomawat&repo=Django-file-handle&type=fork&count=true&size=small" frameborder="0" scrolling="0" width="100px" height="30px"></iframe>
                                      </div>
                                    </div>
                                  </div>
                                </a>
                              </div>
                            </li>
                            <br>
                          </ul>
                        </article>
                      </div>
                        <p>** All above projects are made up and converted as open-source projects, Feel free to use and contribute (No Copyright issues).</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!-- End #projects -->
    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="js/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->
    <script src="js/jquery.flexslider-min.js"></script>
    <!-- Owl carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Counters -->
    <script src="js/jquery.countTo.js"></script>
    <!-- MAIN JS -->
    <script src="js/main.js"></script>
      <!--canvas js--->
           <script src="js/canvas.js"></script>
  </body>
</html>